html, body {
    margin: 0;
    padding: 0;
    
    color: #abb6bf;
    font-family: "Source Sans 3", sans-serif;
}
.container {
    position: relative;
    width: 1180px;
    margin: 0 auto;
}
.Page__body{
    position: relative;
    margin: 0 auto;
    padding: 0;
    min-width: 1240px;
    min-height: 1925px;
    display: grid;
}
@tablet-width: 320px;
@descktop-width: 960px;
@import "Block/head.less";
@import "Block/present.less";
@import "Block/about.less";
@import "Block/production.less";
@import "Block/representative.less";
@import "Block/news.less";
@import "Block/footer.less";
